.cartBody{
    display: flex;
    flex-direction: column;
}
.total{
    text-align: center;
}
.cartBoton{
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 2%;
}
.cartVacio{
    margin-top: 15rem;
    text-align: center;
}
.botonVacio{
    margin-top: 2rem;
}