.cart-icon{
    margin-left: 1rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
}
/* Estilos para el número del carrito */
.cart-number {
    color: #ffffff; /* Color predeterminado cuando no hay productos en el carrito */
}

