@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,400&display=swap');

.card-img-top{
    width: 431px;
    height: 490px;
}
.card-title{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2.7rem;
    text-align: center;
}
.card-text1{
    font-size: 1.3rem;
    color:dimgray;
    margin-top: -2.5rem;
}
.card-text{
    font-size:1.4rem;
    margin-top: 1rem;
}
.btn-primary{
    background-color :rgb(223, 28, 28) !important;
    color: white !important;
    border: 1px solid black;
    margin-left: 9.2rem;
}